<div class="container">
  <div class="container-fluid">
    <div *ngFor="let item of wishlist">


      <div class="items-list-item" *ngIf="item">
        <mat-card>
          <mat-card-content>

            <div class="row">
              <div class="col-md-12">
                <h4 *ngIf="item.name">
                  <strong>{{item.name}}</strong>
                </h4>
                <div class="row">
                  <div class="col-md-12">
                    <p *ngIf="item.content">
                      {{item.content}}
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <p *ngIf="item.price">
                      <strong>Price: </strong>{{item.price}}
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <p *ngIf="item.review">
                      <strong>Reviews: </strong>{{item.review}}

                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <img class="items-list-item__img" style="width: inherit" [src]="item.imageUrl" />
                  </div>
                </div>

                <div style="display: flex; flex-direction: column">

                  <!-- <button mat-raised-button color="primary">More Info</button> -->
                  <button mat-button (click)='handleAddToCardClick(item)'>
                    <mat-icon>shopping_cart</mat-icon>Add to cart
                  </button>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>






    </div>
    <div class="items-list-item" *ngIf="wishlist.length ==0">
      <h3>No wishlist Product</h3>
    </div>
  </div>
</div>
