<div id="header" style=" display: flex; justify-content:flex-end">
  <a routerLink="/">
    <!-- <img class="logo" src="assets/images/logo.png" /> -->
  </a>
  <!-- <div style=" width: 100px;">
    <a mat-raised-button color="primary" class="btn btn-primary btn-checkout">
      <mat-icon>search</mat-icon>
    </a>
  </div> -->
  <div style="flex:auto">
    <h3 class="logo" [routerLink]="['/']" routerLinkActive="router-link-active" style="color: aliceblue">E-Commerce</h3>
  </div>

  <div class="form-inline md-form ">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchItem">
    <div style=" width: 100px;" [routerLink]="['/search']" routerLinkActive="router-link-active">
      <a mat-raised-button color="primary" class="btn btn-primary btn-checkout" (click)="searchMethod()">
        <mat-icon>search</mat-icon>
      </a>
    </div>
  </div>

  <div class="form-inline md-form ">
    <div style=" width: 100px;">
      <a mat-raised-button color="primary" [routerLink]="['/wishlist']" routerLinkActive="router-link-active"
        class="btn btn-primary btn-checkout">
        <mat-icon>favorite</mat-icon>
      </a>
    </div>
  </div>


  <div style=" width: 100px">
    <a mat-raised-button color="primary" [routerLink]="['/checkout']" routerLinkActive="router-link-active"
      class="btn btn-primary btn-checkout">
      <i class="fas fa-shopping-cart"></i>
    </a>
  </div>
</div>


<router-outlet></router-outlet>