.items-list-item {
  margin-bottom: 12px;
  cursor: pointer;
}

.items-list-item .items-list-item__img {
  width: 100%;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}
